{% extends "search_in_database/base/base_search_form.html" %}
{% load static %}
{% block title %}chemical search{% endblock title %}
{% block more_styles %}
<link rel="stylesheet" href={% static "search_in_database/css/base_form.css" %}>
{% endblock more_styles %}
{% block main %}
	<div class="form_container">
		<form class="search_form" method="get" action="{% url 'search_in_database:search_result' %}">
			<input class="search_input" type="text" class="" name="q" size="21" minlength="3">
			<input class="submit_btn" type="submit" value="search">
		</form>
	</div>
{% endblock main %}
