{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href={% static "search_in_database/css/base.css" %}>
    {% block more_styles %}{% endblock more_styles %}
    {% block initial_scripts %}{% endblock initial_scripts %}
  </head>

  <body>
    <header>
      {% block header %}{% endblock header %}
    </header>

    <main>
      {% block main %}{% endblock main %}
    </main>

    <footer>
      {% block footer %}{% endblock footer %}
    </footer>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
